

.header-menu {
    margin-left: 1035px;
}

.menu {
    font-family: Roboto;
    display: inline-flex;
    color: rgba(0,0,0,0.87);
    font-size: 12px;
    margin-left: 15px;
    vertical-align: middle;
}



#login {
    
    font-size: 14px;
    color: white;
    background-color: #1a73e8;
    margin-left: 30px;
    padding: 8px 22px 8px 22px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.doodle {

    text-align: center;
    margin-top: 90px;
}

#doodle-img {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    width: 272px;
}

.search {
    
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 43px;
    width: 575px;
    margin-top: 20px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 50px;
}

#magnifier{
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}

#mic {
    margin-left: 525px;
}

.search-buttons {

    sfont-size: 14px;
    font-family: roboto;
    color: black;
    width: 1000px;
    margin: 20px auto 0 auto;
        
}
    
#google-search {
    
    height: 40px;
    width: 150px;
    background-color: rgb(240, 238, 238);
    margin-left: 350px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;    
}

#lucky-search {

    height: 40px;
    width: 150px;
    background-color: rgb(240, 238, 238);
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

#footer {

    width: 100%;
    height: 35px;
    margin-top: 240px;
    background-color: red;
}